flake8==3.9.0
idna==2.10
mccabe==0.6.1
pycodestyle==2.7.0
pyflakes==2.3.1

# Deps do pytest
more-itertools==4.1.0
six==1.11.0
pluggy==0.13.1
pytest==6.2.3
pytest-mock==3.5.1
packaging==20.9
attrs==20.3.0
py==1.10.0


#Converage
coverage==4.5.1
pytest-cov==2.5.1

-r requirements.txt