flake8==3.9.0
idna==2.10
mccabe==0.6.1
pycodestyle==2.7.0
pyflakes==2.3.1

# Deps do pytest
py==1.5.3
more-itertools==4.1.0
six==1.11.0
attrs==18.1.0
pluggy==0.6.0
pytest==6.2.3
pytest-mock==3.5.1
packaging==20.9


#Converage
coverage==4.5.1
pytest-cov==2.5.1

-r requirements.txt